body{
  background-image: url("star.png");
  background-size: 400px 400px;
  background-blend-mode: normal;
  background-color: #0a0a0a;
  margin: 25px;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
}

.app-container {
  display: flex;
  flex-direction: row;
  color: #94a4b3;
  overflow: hidden;
}


.sidebar {
  width: 150px;
  text-align: center;
  border: 1px solid #435b65;
  padding: 0px;
  height: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px; /* adjust as needed */
  margin-top: 0px;
  background-color:#0a0a0a;
  box-sizing: border-box;
  height:100%;  
}

.titlebar-container {
 /* border-left: 4px solid #526972;
  padding-left: 4px;
  padding-top: 1px;
  padding-bottom: 5px;*/
  text-align: center;
  font-size: 14px;
}

.form-container {
  text-align: center;
  margin-bottom: 20px; /* adjust as needed */
  border: 1px solid #526972;
  padding: 5px;
  padding-bottom: 10px;
}

.scouted-warning-container {
  display: none;
  margin-top: 10px;
}

label {
  text-align: right;
  margin-right: 1px;
  width: 100px;
}

#minsLabel{
  margin-right: 10px;
}

input,
textarea {
  width: 150px;
}

#region {
  width: 150px
}

input[type="submit"] {
  color: #000004;
  background-color: #526972;
  box-shadow: none;
  border: none;
  cursor: pointer;
  border: 1px solid #526972;
  margin-top:10px
}

.visualizer-container {
  flex-grow: 1;
  text-align: center;
  border: 1px solid #526972;
  color: #94a4b3;
}
.visualizer-container tr:nth-child(odd) {
  background-color: #3F3F3F;
}
.visualizer-container tr:nth-child(even) {
  background-color: #4C4C4C;
}

.remove-button{
  border-radius: 10px;
  background-color:#526972;
  border: none;
  cursor: pointer;
  border: 1px solid #526972;
}

#starTable .fucked-world{
  background-color: rgba(255, 0, 0, 40%);
}

#starTable .landed-world{
  background-color: rgba(0, 128, 0, 40%);
}
